<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <meta charset="UTF-8">
    <title>U Steni</title>
</head>
<body>
<div th:insert="menu.html:: div"></div>
<p >U Steni >>>> Warzywa i rozsada</p>
<p th:text="${session.orderid}"></p>
<h1>Dodawanie produktu do zamówienia</h1>



<form action="#" th:action="@{/orderadd}" th:object="${op}" method="post">



    <br>
    <label th:text = "${product.name}"> </label>
    <br>
    <label th:text = "${product.description}"> </label>
    <br>
    <label th:text = "${product.jm}"> </label>

    <br>
    <label>Podaj ilość zgodną z jednostką miary</label>
    <input type="text" th:field="${op.quantity}" placeholder="Podaj ilość zgodną z jm">

    <input type="hidden" th:field="${product.id}">
<button type="submit">DODAJ</button>







</form>


</body>
</html>