<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <meta charset="UTF-8">
    <title>U Steni</title>
</head>
<body>
<div class="menu">

    <div class="menu-separator-v"></div>
    <a class="menu-element" href="/register">Rejestracja</a>

    <div class="menu-separator-v"></div>

    <a class="menu-element" href="/login">Zaloguj się</a>
    <div class="menu-separator-v"></div>
</div>
<p >U Steni >>>> Warzywa i rozsada</p>

<p>Nasza oferta </p>
<p>Chcesz zamówić - zaloguj się. Nie masz konta - zarejestruj się</p>

<table>
    <tr>
        <th>    </th>
        <th>NAZWA</th>
        <th>OPIS</th>
        <th>CENA</th>
        <th>JM</th>

    </tr>
    <tr th:each="product: ${products}">
        <td><img th:src="${'/images/'+ product.imagelink}" width = "120" alt="Zdjęcie"> </td>
        <td th:text="${product.name}">Pietruszka</td>
        <td th:text="${product.description}">Korzeń</td>
        <td th:text="${product.price}+ ' zł '">Korzeń</td>
        <td th:text="${product.jm}">Korzeń</td>



    </tr>



</table>

</body>
</html>






