<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <meta charset="UTF-8">
    <title>U Steni</title>
</head>
<body>
<div class="menu">

    <div class="menu-separator-v"></div>
    <a class="menu-element" href="/register">Rejestracja</a>

    <div class="menu-separator-v"></div>

    <a class="menu-element" href="/login">Zaloguj się</a>
    <div class="menu-separator-v"></div>
</div>
<p >U Steni >>>> Warzywa i rozsada</p>

<form action="/login" method ='POST'>

    <br>
    Nazwa użytkownika (login):
   <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
    <input type="text" name="username" value=''>
    <br>
    Hasło
    <input type="text" name="password" value=''>

    <input name="Zaloguj" type="submit" value="submit">

</form>
<a href="/register">Nie masz konta??? Zarejestruj się</a>

</body>
</html>