<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css" th:href="@{/css/menu.css}"/>
    <meta charset="UTF-8">
    <title>U Steni</title>
</head>
<body>
<div th:insert="menu.html:: div"></div>
<p >U Steni >>>> Warzywa i rozsada</p>

<p>Nasza oferta </p>
<p th:text="${session.sesuserid}"> </p>
<a th:href="@{/cart/{id}(id=${session.orderid})}"> Zobacz koszyk </a>

<p>Zamów produkty</p>
<table>
    <tr>
        <th> </th>
        <th>NAZWA</th>
        <th>OPIS</th>
        <th>JM</th>
        <th>CENA</th>
        <th> </th>
    </tr>
    <tr th:each="product: ${products}">
        <td><img alt="Zdjęcie" th:src="${'/images/'+ product.imagelink}" width="120"> </td>
        <td th:text="${product.name}">Pietruszka</td>
        <td th:text="${product.description}">Korzeń</td>
        <td  th:text="${product.jm}">Kg</td>
        <td th:text="${product.price}">3.0</td>
        <td><a th:href="@{/orderadd/{id}(id=${product.id})}"> Dodaj </a></td>



    </tr>

</table>
</body>
</html>